<?xml version="1.0"?>
<ruleset name="FAIR DID Manager WordPress Coding Standards">
	<description>A custom set of rules to check the WordPress integration package.</description>

	<file>./src</file>
	<file>./tests</file>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<arg value="ps"/>
	<arg name="colors"/>
	<arg name="encoding" value="utf-8"/>
	<config name="testVersion" value="8.0-"/>

	<rule ref="WordPress">
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="Universal.Operators.DisallowShortTernary"/>
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment"/>
		<exclude name="WordPress.WP.I18n.NonSingularStringLiteralText"/>
		<exclude name="WordPress.Security.EscapeOutput"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery"/>
		<exclude name="WordPress.Security.NonceVerification"/>
		<exclude name="WordPress.WP.AlternativeFunctions"/>
		<exclude name="WordPress.PHP.NoSilencedErrors"/>
	</rule>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<rule ref="Squiz.Commenting.FunctionComment">
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop"/>
		<exclude name="Squiz.Commenting.FunctionComment.ThrowsNoFullStop"/>
	</rule>

	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.FunctionCommentThrowTag.Missing">
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>

	<rule ref="Generic.Files.LineLength">
		<properties>
			<property name="lineLimit" value="120"/>
			<property name="absoluteLineLimit" value="200"/>
		</properties>
		<exclude-pattern>/tests/*</exclude-pattern>
	</rule>
</ruleset>
